<template>
  <div class="card">
    <div class="card-header">
      Bio
    </div>
    <div class="card-body">
      {{user.profile.bio}}
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import firebase from "firebase/app"



export default {
  data: function() {
    return {
      bio: ""
    };
  },
  computed: {
    // map `this.user` to `this.$store.getters.user`
    ...mapGetters({
      user: "user"
    }),
  },
  mounted(){
          let uid = 'UbJz5OAADVTemeOIwvFjK2HWpB32'

  }
};
</script>