<template>
    <div class="media">
          <img class="d-flex mr-3 rounded-circle" src="https://66.media.tumblr.com/3939d6670daa313499d6c06b16a9485e/tumblr_pa069avELc1sdiekco1_400.jpg" alt="">
          <div class="media-body">
            <h5 class="mt-0">Kiyo</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>
</template>

<style scoped>
.media{
    margin-top: 15px;
    margin-bottom: 15px;
}
img{
    width: 50px;
    height: 50px;
}
</style>