<template>
  <div class="card">
    <div class="card-header">
      <a href="http://" target="_blank" rel="noopener noreferrer">Groups</a>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4" v-for="item in items" v-bind:key="item">
          <img
            class="card-img-top"
            src="https://i.pinimg.com/originals/31/12/37/311237c10b55ea4a9e5b05b63fe99cf0.png"
            alt="Card image cap"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
export default Vue.extend({
  data: function() {
    return {
      items: 3
    };
  }
});
</script>