<template>
  <div class="card">
    <img
      class="card-img-top"
      :src="profileUrl"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Silver Royal</h5>
      <p
        class="card-text"
      >{{user.profile.summary}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-5">
            <span class="text-muted">Birth</span>
          </div>
          <div class="col-sm-7">{{user.profile.birth}}</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-5">
            <span class="text-muted">Location</span>
          </div>
          <div class="col-sm-7">{{user.profile.location}}</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-5">
            <span class="text-muted">Gender</span>
          </div>
          <div class="col-sm-7">{{user.profile.gender}}</div>
        </div>
      </li>
    </ul>
    <div class="card-body">
      <a href="#" class="btn btn-primary">Edit</a>
    </div>
  </div>
</template>


<script>
import firebase from 'firebase/app'
import { mapGetters } from "vuex";
export default {
  data: function() {
    return {
      profileUrl: "https://www.xibis.nl/wp-content/uploads/2016/08/facebook-profile-picture-no-pic-avatar.jpg",
      backup: "https://i.pinimg.com/originals/31/12/37/311237c10b55ea4a9e5b05b63fe99cf0.png"
    };
  },
    computed: {
    // map `this.user` to `this.$store.getters.user`
    ...mapGetters({
      user: "user"
    }),
  },
  mounted(){
      let uid = 'UbJz5OAADVTemeOIwvFjK2HWpB32'
      const storage = firebase.storage().ref(`${uid}/profile_picture.png`)
      let profileUrl = storage.getDownloadURL().then((url)=> {
           this.profileUrl = url;
      })
     
  }
};
</script>