<template>
<div class="box profile-info n-border-top">
                    <form>
                        <textarea class="form-control input-lg p-text-area" v-model="text" rows="2" placeholder="Whats in your mind today?" style="margin-top: 0px; margin-bottom: 0px; height: 77px;"></textarea>
                    </form>
                    <div class="box-footer box-form">
                        <button type="button" class="btn btn-azure float-right" @click="post()">Post</button>
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class=" fa fa-film"></i></a></li>
                            <li><a href="#"><i class="fa fa-microphone"></i></a></li>
                        </ul>
                    </div>
                  </div>
</template>



<script>

import { mapGetters } from "vuex";
import firebase from "firebase/app"



export default {
  data: function() {
    return {
      text: "",
    };
  },
  computed: {
    // map `this.user` to `this.$store.getters.user`
    ...mapGetters({
      user: "user"
    }),
  },
  methods:{
      post(){
            let uid = 'UbJz5OAADVTemeOIwvFjK2HWpB32'
            let data = {
                text: this.text,
                createdAt: firebase.firestore.FieldValue.serverTimestamp()
            }
            firebase
                .firestore()
                .collection('users')
                .doc(uid)
                .collection("krabbels")
                .add(data)
                .then((docRef) =>{
                    this.text= "";
                    console.log("Document written with ID: ", docRef.id);
                })
                .catch((error)=> {
                    console.error("Error adding document: ", error);
                });
      }
  }

};
</script>

<style scoped>

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #2dc3e8;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.n-border-top {
    border-top: none !important;
}

textarea{
      margin-top: 0px;
    margin-bottom: 0px;
    height: 120px;
    border-bottom: none;
}

textarea.form-control {
    padding: 5px 9px;
        box-shadow: none;
    border-radius: 0;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -o-transition: height .2s;
    transition: height .2s;
}

.box-form {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}


.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.btn-azure, .btn-azure:focus {
    background-color: #2dc3e8 !important;
    border-color: #2dc3e8;
    color: #fff;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a, a:hover {
    text-decoration: none;
    color: #337ab7;
}

</style>