<template>
  <div class="card">
    <div class="card-header">Storylines</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><router-link to="/storyline">Retaking the Underworld</router-link></li>
        <li class="list-group-item">A new servant</li>
        <li class="list-group-item">Hunt for the vampire</li>
      </ul>
  </div>
</template>

<script>
import Vue from "vue";
export default Vue.extend({
  data: function() {
    return {
      items: 3
    };
  }
});
</script>

<style scoped>
.card {
  margin-top: 25px;
}
</style>