<template>
  <div class="profile">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <!-- <div v-if="user" class="alert alert-success" role="alert">You are logged in!</div> -->

        <div id="profile" class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <Info />
              </div>

              <div class="col-md-5">
                <Feed />
                <bio />
              </div>

              <div class="col-md-4">
                <Friends />
                <storymode/>
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="col-md-6">
                <Pictures />
              </div>
              <div class="col-md-6">
                <Group />
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-md-6">
                <Post />
              </div>
              <div class="col-md-6">
                <Comment />
                <hr />
                <Comment />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Profile</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Silver Royal</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import Info from "./profile/info";
import Feed from "./profile/feed";
import Friends from "./profile/friends";
import Post from "./profile/post";
import Comment from "./profile/comment";
import Group from "./profile/group";
import Pictures from "./profile/pictures";
import Bio from "./profile/bio";
import storymode from "./profile/storymode";

import firebase from "firebase/app"


export default {
  components: { Info, Friends, Post, Comment, Group, Pictures, Bio, Feed, storymode },
  data: function() {
    return {
      items: 6,
      backgroundColor: "red"
    };
  },
  computed: {
    // map `this.user` to `this.$store.getters.user`
    ...mapGetters({
      user: "user"
    })
  },
  mounted(){

  }
};
</script>

<style scoped>
.card {
  background-color: #ffffffab;
}

nav {
  margin-top: 25px;
}

.profile {
  background: url("https://images4.alphacoders.com/902/thumb-1920-902980.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>