<template>
  <div class="feeds">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <!-- <div v-if="user" class="alert alert-success" role="alert">You are logged in!</div> -->

        <div id="feeds" class="card">
            <div class="card" v-for="feed in feeds" v-bind:key="feed">
              <div class="card-header">
                Quote
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>{{feed.text}}</p>
                  <footer class="blockquote-footer"><cite title="Source Title">{{feed.createdAt}}</cite></footer>
                </blockquote>
              </div>
            </div>
        </div>
      </div>


    </div>
  </div>
</template>
<script>
import firebase from "firebase/app";
import moment from 'moment'

export default {
  data: function() {
    return {
      feeds: []
    };
  },
  mounted() {
    firebase
      .firestore()
      .collection("feeds")
      .get()
      .then(snapshot => {
        snapshot.forEach(doc => this.feeds.push(doc.data()));
      });
  }
};
</script>

<style scoped>
.card {
  background-color: #ffffffab;
}

nav {
  margin-top: 25px;
}

.profile {
  background: url("https://images4.alphacoders.com/902/thumb-1920-902980.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>