<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <router-link to="/" class="navbar-brand">RPG</router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <router-link class="nav-link" to="/feeds">Feeds</router-link>
          </li>

        </ul>
        <ul class="navbar-nav ml-auto">
          <template v-if="user.loggedIn">
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <b>{{user.data.displayName}}</b>
                <span class="caret"></span>
              </a>
              <ul id="login-dp" class="dropdown-menu">
                <router-link class="dropdown-item" to="/dashboard"><i class="fa fa-user"></i> Profile</router-link>
                <router-link class="dropdown-item" to="/dashboard"><i class="fa fa-cogs"></i> Settings</router-link>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" @click.prevent="signOut"><i class="fa fa-sign-out-alt"></i> Sign out</button>
              </ul>
            </li>
          </template>
          <template v-else>
            <li class="nav-item">
              <router-link to="login" class="nav-link">Login</router-link>
            </li>
            <li class="nav-item">
              <router-link to="register" class="nav-link">Register</router-link>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
import { mapGetters } from "vuex";
import firebase from "firebase";
export default {
  computed: {
    ...mapGetters({
      // map `this.user` to `this.$store.getters.user`
      user: "user"
    })
  },
  methods: {
    signOut() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.push("logi");
        });
    }
  }
};
</script>

<style scoped>
nav {
  margin-bottom: 65px;
}
</style>