<template>
  <div id="app">
    <navbar></navbar>
    <div class="container">
        <router-view></router-view>
    </div>
      
   
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import navbar from "./components/Navbar";
export default {
  
  name: 'app',
  components: {
 navbar
  }
}
</script>

<style>

body{
    min-height: 75rem;
    padding-top: 4.5rem;
}

.card{
  border-radius: 0px;
}

.card-body{
  border-top: 2px solid black;
}

.card-header{
  background-color: transparent;
}



</style>
